################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorPlayground.ServerSide/bin/Debug/net5.0
/BlazorPlayground.ServerSide/obj
/BlazorPlayground.ServerSide/Properties
